.tab {
  height: 40px;
  font-size: 110%;
  border-bottom: 1px solid #00000033;
}

.tab .label {
  color: #E8E8E9;
}

.tab.active {
  background-color: #863480;
}

.tab:hover {
  background-color: #593357;
}

.tab:hover .label {
  color: white;
}

.tab.active .label {
  color: white;
}

.tab .favicon {
  margin-right: 6px;
}

.newtab-button-box {
  visibility: hidden;
}

#tabbar { 
  background-color: #323234;
}

.tab.private-browsing .label:before {
  content: "🕶";
}
